.mainHeader {
    background-color: black;
    height: 120px;
    display: flex;
    font-size: 20px;
}
.headA {
    color:aliceblue;
    text-decoration: none;
    margin-left: 165px;
    margin-top: 50px;
}
.ICons {
    height: 60px;
    width: 60px;
    margin-left: 30px;
}