.mainHeader {
    background-color: black;
    height: 120px;
    display: flex;
    font-size: 20px;
}
.headA {
    color:aliceblue;
    text-decoration: none;
    margin-left: 165px;
    margin-top: 50px;
}
.QAIMG {
    width: 600px;
    height: 400px;
    position: absolute;
    padding-left: 40px;
}
.frontImg {
    width: 600px;
    height: 400px;
    position: absolute;
    padding-left: 780px;
}
.JavaImg {
    width: 600px;
    height: 400px;
    position: absolute;
    padding-left: 40px;
    padding-top: 450px;
}
.PythonImg {
    width: 600px;
    height: 400px;
    position: absolute;
    padding-left: 780px;
    padding-top: 450px;
}
.QAText {
    position: absolute;
    top: 230px;
    left: 70px;
    font-size: 30px;
    color: black;
}
.WEBText {
    position: absolute;
    top: 230px;
    left: 810px;
    font-size: 30px;
    color: black;
}
.JavaText {
    position: absolute;
    top: 700px;
    left: 70px;
    font-size: 30px;
    color: black;
}
.PythonText {
    position: absolute;
    top: 700px;
    left: 820px;
    font-size: 30px;
    color: black;
}
.QaButton {
    position: absolute;
    border-radius: 30px;
    background-color:skyblue;
    font-size: 20px;
    color: white;
    margin-left: 70px;
    margin-top: 320px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}
footer {
    background-color:black;
    width: 98%;
    float: left;
    padding: 1%;
    margin-top: 10px;
}
.imgFooter {
    width: 50px;
    height: 50px;
   padding-left: 20px;
}
.mainTitle {
    margin-left: 580px;
}
footer #social {
    float: left;
    width: 50%;
    padding: 5px;
}
footer #info {
    float: right;
    text-align: right;
    font-size: 1.1em;
    color: white;
    margin-top: 20px;
}
