.firstImg {
    height: 800px;
    width: 1424px;
}
.usefullHeader {
    background-color: black;
    height: 120px;
    display: flex;
    font-size: 20px;
}
.headA {
    color:aliceblue;
    text-decoration: none;
    margin-left: 165px;
    margin-top: 50px;
}
.mainText {
    position: absolute;
    top: 370px;
    left: 180px;
    font-size: 70px;
    color: white;
}
.secondMainText {
    position: absolute;
    top: 1250px;
    left: 240px;
    font-size: 70px;
    color: white;
}
.textInfo {
    font-size: 20px;
}
.upButton {
    text-decoration: none;
    position: absolute;
    border-radius: 40px;
    background-color: darkgray;
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
    margin-left: 630px;
}